// PRIMARY COLORS
$azure-color: #007BFF;
$onyx-color: #343A40;
$outer-space-color: #484848;

//ACTION COLORS
$true-blue-color : #0069D9;
$crayola-color: #0056B3;
$metallic-seaweed-color :#0A7E8C;
$metalic-seawood-color :#138496;

$black-color : #000;
$red-color: #FF0000;
$white-color: #FFF;
$blue-color: #000DFF;
$gray-color: #808080;

$crayola-color: #0056b3;
$platinum-color: #dee2e6;
$auro-metal-saurus-color: #6C757D;
$rich-black: #00001A;
$gunmetal-color: #232F3E;
$gainsboro-color: #DDDDDD;
$ghost-white-color: #F8F9FA;
$mellow-apricot-color : #FEDB69;
$blue-green-color: #17A2B8;
$dark-gunmetal-color: #292521;
$light-gray-color: #CED4DA;
$davys-gray-color: #575049;
$persian-plum-color: #721C24;
$light-silver-color: #D8D8D8;
$dimgray-color: #686868;
$bright-gray-color: #EFEFEF;
$metallic-seaweed: #138496;
$maize-color: #F0C14B;
$davy-grey-color: #495057;
$pale-pink-color: #F8D7DA;
$orchid-pink-color: #f5C6CB;
$french-sky-blue-color: #80BDFF;
$eerie-black-color: #131921;